---
import SectionTitle from "./shared/SectionTitle.astro";
import {Mail, Linkedin, Github, Instagram} from "lucide-react"
import type {LucideProps} from "lucide-react"
// import { Icon } from "astro-icon/components";
import colors from "tailwindcss/colors";
import ButtonLink from "./shared/ButtonLink.astro";

const socials: {icon: React.ForwardRefExoticComponent<Omit<LucideProps, "ref"> & React.RefAttributes<SVGSVGElement>>, text: string, link: string}[] = [
    {
        icon: Mail,
        link: "",
        // text: "jeffsabarman@gmail.com"
        text: "E-mail"
    },
    {
        icon: Linkedin,
        link: "https://www.linkedin.com/in/jeffrey-sabarman/",
        // text: "jeffrey-sabarman"
        text: "LinkedIn"
    },
    {
        icon: Instagram,
        link: "https://www.instagram.com/jeffsabarman/",
        // text: "jeffsabarman"
        text: "Instagram"
    },
]

---
<div class="flex-col space-y-12">
    <SectionTitle text="Connect with me"/>
    <div class="grid grid-cols-3 gap-[1rem]">
        <!-- {
            socials.map(social => (
                <a href={social.link} target="_blank" class="hover:cursor-pointer">
                    <div class="flex space-x-4 items-center">
                        <social.icon className="text-dark-blue" size="2rem" />
                        <p class="text-dark-blue">{social.text}</p>
                    </div>
                </a>
            ))
        } -->
        {
            socials.map(social => (
                <ButtonLink link={social.link} fullwidth>{social.text}</ButtonLink>
            ))
        }
    </div>
</div>
<style>

</style>